@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @if (!User.Identity.IsAuthenticated)
    {
        <h3 class="display-4">Регистрирайте се или влезте в акаунта си!</h3>
    }
    else
    {
        <h1 class="display-4">Здравейте,@User.Identity.Name!</h1>
    }

    
</div>
